﻿<%@ Page Language="C#" %>

<%
    // POST :
    // Request.Form["txtNom"];
    // GET :
    // Request.QuesryString["txtNom"];
    // POST OU GET :
    string nom = Request["txtNom"];
    string langage = Request["ddlLangage"];
%>

<!DOCTYPE html>
<html>
<head>
    <title>ASP.NET Rules</title>
    <link href="css/styles.css" rel="stylesheet" />
</head>
<body>
   <h2>Bonjour <%=nom%></h2>

    <p>Vous avez choisi <%=langage%></p>


</body>
</html>
