﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Arche.Master" AutoEventWireup="true" CodeBehind="MesInfos.aspx.cs" Inherits="DemoWeb.MesInfos" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
</asp:Content>

<asp:Content ID="Content2" ContentPlaceHolderID="principal" runat="server">

    <asp:TextBox ID="txtUtilisateur" runat="server"></asp:TextBox>
    <asp:Button ID="btnOk" OnClick="btnOk_Click" runat="server" Text="Button" />

</asp:Content>
