﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Arche.Master" AutoEventWireup="true" CodeBehind="Meteo.aspx.cs" Inherits="DemoWeb.Meteo" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="principal" runat="server">
    à 
    <asp:Label ID="lblVille" runat="server" Text="Label"></asp:Label>
    il fait
    <asp:Label ID="lblTemperature" runat="server" Text="Label"></asp:Label>
    degrés
</asp:Content>
